---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "normalize.css";
import "../styles/global.css";
interface Props {
  title: string;
  description: string;
  image?: string;
  schema?: any;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  title,
  description,
  image = "/avatar-fulldef.jpg",
  schema,
} = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/webp" href="/favicon.webp" />
<link rel="canonical" href={canonicalURL} />

<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />
<meta property="twitter:card" content="summary_large_image" />
<meta property="og:site_name" content="Humaid Alqasimi's Personal Website" />
{
  schema && (
    <script
      is:inline
      type="application/ld+json"
      set:html={JSON.stringify(schema)}
    />
  )
}
